$inspector-side-padding: 10px;

.inspector {
}

.inspector-header {
	margin: 0;
	padding: $inspector-side-padding;
	
	text-align: center;
	
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	
	background-color: #cd6565;
	color: #efefef;
	
	box-shadow: 0 1px 1px 1px rgba(0,0,0, 0.5);
}

.inspector-body {
	padding: 0 	$inspector-side-padding;
}

.inspector-section {
	padding: $inspector-side-padding 0;
	border-bottom: 1px solid #181818;
}

.inspector-geometry {
	span {
		display: inline-block;
		width: 100px;
		
	}
	input {
		display: inline-block;
		width: 50px;
		margin-right: 10px;
		text-align: center;
		
		border: none;
		border-radius: 3px;
		
		font-family: monospace;
	}
}

.inspector input {
	background: #252525;
	color: #ccc;
	padding: 5px;
	
	/*
	&:focus {
	 	outline: 1px solid #0000dd;
	}
	*/
}