.inspector-geo-ctrl-wrap {
	display: inline-block;
	position: relative;
	padding: 5px;
}

.inspector-geo-ctrl-label {
	font-size: 0.7em;
	line-height: 1;
	text-transform: uppercase;
	
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
}

.inspector-size .inspector-geo-ctrl-label {
	top: auto;
	bottom: 0;
	transform: translate(-50%, 100%);
}

