.app {
	width: 100vw;
	height: 100vh;
}

.app-bar {
	width: 100%;
	height: $toolbar-app-height;
}

.app-body {
	height: calc(100% - #{$toolbar-app-height});
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	overflow: hidden;
}

.canvas-viewport {
	width: 100%;
	height: 100%;
	flex: 0 0 auto;
	
	transition: width 0.3s;
}

.sidepanel-container {
	width: $sidepanel-width;
	height: 100%;
	flex: 0 0 auto;
}

.app.sidepanel-visible .canvas-viewport {
	width: calc(100% - #{$sidepanel-width});
}



