.app {
	width: 100vw;
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	flex-warp: no-wrap;
}

.appbar {
	width: 100%;
	height: $toolbar-app-height;
	flex: 0 0 auto;
}

.app-body {
	flex: 1 1 auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	overflow: hidden;
}

.canvas-viewport {
	width: 100%;
	flex: 0 0 auto;
	
	transition: width 0.3s;
}

.sidepanel-container {
	width: $sidepanel-width;
	flex: 0 0 auto;
}

.sidepanel-visible .canvas-viewport {
	width: calc(100% - #{$sidepanel-width});
}
