.app {
	width: 100vw;
	height: 100vh;
}

.toolbar-app {
	width: 100%;
	height: $toolbar-app-height;
}

.canvas {
	display: block;
	width: 100%;
	height: calc(100% - #{$toolbar-app-height});
	
	margin: 0;
	
	background: #e0e0e0;
	
	fill: #ffffff;
	stroke: #666;
}

.app.sidepanel-visible .canvas {
	width: calc(100% - #{$sidepanel-width});
	float: left;
}

.sidepanel-container {
	display: block;
	width: $sidepanel-width;
	height: calc(100% - #{$toolbar-app-height});
	float: right;
	
	background-color: #333;
	
	position: relative;
}

