@import 'normalize-lite';
@import 'vars';
@import 'layout';
@import 'appbar';
@import 'canvas';
@import 'panel';
@import 'inspector';
@import 'settings';

.sidepanel-container {
	background-color: #333;
	
	position: relative;
}
.canvas-viewport {
	overflow: auto;
}

.object {
	cursor: pointer;
}

.selection-box {
	stroke: #000;
	fill: #000000;
	fill-opacity: 0.5;
	
	.handle {
		stroke: #000;
		fill: #fff;
		fill-opacity: 1.0;
		
		cursor: pointer;
	}
}
