$toolbar-app-height: 40px;
$sidepanel-width: 300px;
$gap: 10px;
$panel-section-label-width: 100px;

$inspector-panel-color: #cd6565;
$settings-panel-color: #ff9300;
$appbar-bg-color: #333; //#bdbaba;
$canvas-viewport-bg-color: #e0e0e0;
$canvas-bg-color: #fff;